.container-login-register{
    padding-top: 30px;
    display: flex;
    justify-content: center;
}


.box-login-register{
    
    width: 30%;
    height: auto;
    border: 5px solid rgb(180, 196, 190);
    border-radius: 15px;
    margin: 10px;
}
.left-right-padding{
    padding: 50px;
}
h1{
    padding-bottom: 20px;
}
form{
    margin-bottom: 20px;
}