<div class="container-applied">
    <div class="image">
      <img src="/assets/congo.jpg" alt="" />
    </div>
    <div class="applied-p">
    <p> Dear <%=name%>, You have successfully applied to this job</p>
    </div>
    <div class="applied-mail">
    Please check you e-mail, thank you <i class="fa-solid fa-terminal"></i>
    </div>
    <div class="applied-a">
    <a href="/" class="btn btn-primary"> Back to home &nbsp;&nbsp; <i class="fa-solid fa-house"></i> </a>
    </div>
  </div>