<div class="container-not-found mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3 text-center">
            <h3>Oops! The page you're looking for doesn't exist.</h3>
            <a href="/" class="btn btn-primary">Go Back Home</a>
        </div>
    </div>
    <div class="image-cover">
        <img src="/assets/59517.jpg" alt="">
    </div>
</div>